<footer class="page-footer indigo darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About NextGenCv</h5>
                <p class="grey-text text-lighten-4">We are a team of three colleagues working on this project.
                    Our background is vastly different, and our competences differs as well.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Developers</h5>
                <ul>
                    <li><a class="white-text" href="mailto:quoc.viet.nguyen.tran@no.experis.com">Quoc Viet Nguyen
                            Tran</a></li>
                    <li><a class="white-text" href="mailto:thinh.to@no.experis.com">Thinh To</a></li>
                    <li><a class="white-text" href="mailto:kim.aasen@no.experis.com">Kim Aasen</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style="padding: 0 10.5px;">
        <div class="container">
            Copyright <a class="indigo-text text-lighten-3" href="/">NextGenCv</a>
        </div>
    </div>
</footer>