<div class="section no-pad" id="index-banner">
	<div class="container center">
		<br>
		<h1 class="header indigo-text">{{person.firstname}} {{person.lastname}}</h1>
		<div class="row">
			<h5 class="header col s12 black-text sub-header">A presentation of my experience and skills</h5>
			<img class="circle profile-pic" src="images/thinhto.jpg" alt="profile picture" />
		</div>
		<div class="row center">
			<a href="/cv" class="waves-effect waves-light btn-large indigo darken-4">View my Resume</a>
		</div>
	</div>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		var materialboxed = document.querySelectorAll('.materialboxed');
		var instances = M.Materialbox.init(materialboxed);
	});
</script>